
 <h1 id="apps">{{title}}</h1>
 <!-- <videos></videos> -->

<!-- <app-interpolation></app-interpolation> -->
<!-- <app-propaert-binding></app-propaert-binding> -->

<!-- <app-style-binding
></app-style-binding> -->

<!-- <app-event-binding></app-event-binding> -->
<!-- <app-templet-refrence></app-templet-refrence> -->
<!-- <app-toe-way-binding></app-toe-way-binding> -->

<!-- <app-structuer-directive></app-structuer-directive> -->

<!-- <app-switch-directive></app-switch-directive> -->
<!-- <app-ngforh-directive></app-ngforh-directive> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-perent></app-perent> -->
<!-- <app-employee-details></app-employee-details>
<app-employee-list></app-employee-list> -->


<nav>
  <a href="/employee">employee</a>
<br >
  <a routerLink="/detals">detals</a>
  <br >

  <a href="/department">department</a>

</nav>
 <router-outlet>


</router-outlet>
